<!DOCTYPE html>
<html>
  <head>
    <title>The Great Library Management System</title>
    <link rel="stylesheet" href="/sytlesheets/common.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class ="container">
      <header>
        <h1>
          <img src="/images/logo.png" alt="Logo" class="logo">
          <div class="title">The Great Library</div>
        </h1>
        
      </header>
      <form action="/admin/main" method="post">
        <div calss="form-group">
          <label for="username">Username</label>
          <input type="text" name="userName">
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="userPwd">
        </div>
        <input type="submit" value="Login">
      </form>
    </div>
  </body>
</html>

