<!DOCTYPE html>
<html>
  <head>
    <title>The Great Library Management System</title>
    <link rel="stylesheet" href="/sytlesheets/common.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <frameset cols="240px, *" border="0">
    <frame src="/left" name="left">
    <frame src="/right" name="right">
  </frameset>

  <body>
    lalalalala
  </body>
</html>

